.posts{
    list-style-type: none;
    margin: 0;
}

.post{
    margin: 1rem 0;

    a {
        background-color: #f4f4f4;
        color:black;
        display: block;
        text-decoration: none;
        padding: 1rem
    }
    a:hover {
        color: blue;
        background-color: #e4e4e4;
    }
    h3{
        margin-bottom: 0;
    }
    
    p{
        color: #76767676;
        font-size: .7rem;
    }
}

.date{
    font-size: 12px;
    background-color:  #e4e4e4e4;

}

